version: "3.8"
services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    working_dir: /app
    env_file:
      - backend/.env
    command: npm start

  backend-test:
    build:
      context: .
      dockerfile: Dockerfile
    working_dir: /app
    env_file:
      - backend/.env
    command: npm test
    depends_on:
      - backend
